[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git@github.com:tpope/vim-pathogen
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
